.original {
    width: 70%;
    float: left;
}

#sidebar {
    width: 30vw;
    margin-top: 8px;
    margin-left: 70%;
    position: fixed;
    background-color: #FAFAFA;
}

#cseIcon {
    float: left;
}

.popup {
    display: none;
    position: absolute;
    border: 1px solid #000;
    background-color: #FAFAFA;
    padding: 10px;
}

.conflictpopup {
    position: fixed;
    top: 25%;
    left: 17.5%;
    width: 35%;
	height: auto;
	padding: 15px;
    border: 3px solid #666;
    background-color: white;
}

.popupmessage {
    font-size: 16px;
    margin: 0px 5px;
    font-family: 'Avenir W01', sans-serif;
    color: #666;
}

.popupbutton {
    margin-left: 10px;
    float: right;
    margin-bottom: 0px !important;
    margin-top: 15px;
}

.iconTitle {
    margin: 0;
    font-size: 32px;
    margin-top: 0px;
    margin-left: 90px;
    margin-bottom: 2vh;
    color: #00397C;
}

#calheader {
    margin-bottom: 1px;
}

#clear, #display, #prev, #next {
    background-color: #D5DDE7;
    border: none;
    height: 3vh;
    font-size: 14px;
    color: #5282AA;
    width: 6.5vw;
    margin: 1vh .35vw;
    padding: 0px 0px;
}


#clear:hover, #display:hover, #prev:hover, #next:hover, #export-button:hover, #cal-export-button:hover, popupbutton:hover {
    background-color: #5282AA;
    color: #FAFAFA;
}

#clear, #display, #prev, #next, .popupbutton {
    background-color: #D5DDE7;
    border: none;
    height: 30px;
    font-size: 14px;
    color: #5282AA;
    margin-bottom: 20px;
}

#clear, #display {
    width: 25%;
    margin-left: 3%;

}

#prev, #next {
    width: 15%;
}

#clear {
    margin-right: 3%;
}

#prev {
    float: left;
}

.timebox {
    width: 100%;
    height: 2vh;
    background: white;
    border: 1px solid gray;
    border-bottom: none;
    border-bottom: 1px;
    text-align: center;
    font-weight: bold;
    font-size: .8em;
}

.weekday {
    width: 5.4vw;
    float: left;
}

.timeslot {
    background: #00397C !important;
    color: #fff;
    height: 4vh !important;
    font-weight: normal !important;
    -webkit-text-size-adjust: none;
}

.halfhour {
    border-top: dashed 1px;
}

#timeslot {
    font-weight: normal !important;
    background: #00397C !important;
    text-align: center;
    color: #fff;
    font-family: "Avenir W01", sans-serif;
    width: 2.7vw;
}

.th {
    background: #00397C !important;
    height: 20px !important;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-family: "Avenir W01", sans-serif;

}

/* ------------------------------- TABS ----------------------------- */
.tabs {
    width:100%;
    display:block;
    border-left: 2px;
    background: white;
}

.ports {
    width:100%;
    display:block;
    //border-left: 2px;
    background: white;
}

.extra {
    width: auto;
    float: left;
}

#export-button, #cal-export-button {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 3px 0px;
    background:#D5DDE7;
    font-size:16px;
    font-weight:600;
    color:#5282AA;
    transition:all linear 0.15s;
    font-family: "Avenir W01", sans-serif;
    text-decoration: none;
}

#import-button {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 3px 0px;
    background:#D5DDE7;
    font-size:16px;
    font-weight:600;
    color:#5282AA;
    transition:all linear 0.15s;
    font-family: "Avenir W01", sans-serif;
    text-decoration: none;
}

#auth-button {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 3px 0px;
    background:#D5DDE7;
    font-size:16px;
    font-weight:600;
    color:#5282AA;
    transition:all linear 0.15s;
    font-family: "Avenir W01", sans-serif;
    text-decoration: none;
}

.CRNlist {
    content: "";
}

#search-button {
    margin-left: 5%;
}

#search-button, #suggest-button {
    border: none;
    padding: 2vh 2vw;
}

.and-or {
    border: none;
    margin-left: 5%;
    width: 20%;
    background:#00397C;
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 2px;
    text-transform: uppercase;
    height: 5vh;
}

.search-criteria, .search-options {
    margin-left: 5%;
    background: #00397C;
    color: #fff;
    display: block;
    font-weight: 700;
    font-size: 14px;
    padding: 2px;
    text-transform: uppercase;
    margin-bottom: 1vh;
    border: none;
}

.search-criteria {
    float: left;
    width: 40%;
    height: 5vh;
}

.search-options {
    width: 400px;
}

.search-criteria option, .search-options option, .and-or option {
    background: #295D93;
    color: #fff;
}

.check-label {
    width: 50%;
    font-family: "Avenir W01", sans-serif;
    float: right;
    
}


.searchBox {
    margin-bottom: 5px;
    background-color: #fff;
    font-family: "Avenir W01", sans-serif;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    font-size: 1rem;
    margin-left: 5%;
    padding: 0.5rem;
    width: 400px;
}

.hide {
    display: none;
}

#auth-button {
    padding:9px 15px;
    display:block;
    border-radius:3px 3px 3px 0px;
    background:#D5DDE7;
    font-size:16px;
    font-weight:600;
    color:#5282AA;
    transition:all linear 0.15s;
    font-family: "Avenir W01", sans-serif;
    text-decoration: none;
}



.NOTcheck {
    margin-top: 10%;
    margin-left: 5%;
    //display:inline-block;
    width:19px;
    height:19px;
    font-size: 1rem;
    //vertical-align:middle;
    font-family: "Avenir W01", sans-serif;
    //position:relative;
    float: right;
    padding: 50px;

}

#not0 {
    //float: left;
}

//attempting to move over the buttons
.row {
    //margin-left: 25%;
    float: right;
}

#calendar, #search {
    height: 65vh !important;
}

.ui-accordion-header {
    background-color: #D5DDE7;
    margin: 0px;
    padding: 1vh 0px;
    border: 2px solid #00397C;
    margin-bottom: -2px;
    border-radius: 3px;
    color: #5282AA;
    height: auto;
    font-size: 1.5em;
    padding-left: 10px;
}

.ui-state-hover {
    background-color: #5282AA;
    cursor: pointer;
    color: #FAFAFA;
}

.pCRN {
    margin: 0px;
    padding: 5px 10px;
    color: #666;
    font-family: "Avenir W01", sans-serif;
    
}

#export-button, #cal-export-button {
    border: none;
    font-family: "Avenir W01", sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 5px;
}